[Unit]
Description=Ax3l ax3l-server (@ENV@)
After=network.target mariadb.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=@APP@
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=BROWSER_PATH=@APP@/.chrome/browser
Environment=XDG_CONFIG_HOME=/run/ax3l@SUFFIX@/chrome-config
Environment=XDG_CACHE_HOME=/run/ax3l@SUFFIX@/chrome-cache
EnvironmentFile=@CONFIG@/database.env
ExecStart=@APP@/.venv/bin/python -m ax3l.server.Ax3lServer --port @AX3L_PORT@ --zmq-endpoint @AX3L_ZMQ_ENDPOINT@ @AX3L_ARGS@
StateDirectory=ax3l@SUFFIX@
RuntimeDirectory=ax3l@SUFFIX@
KillSignal=SIGINT
SuccessExitStatus=130
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
