[Unit]
Description=Ax3l qwenv-server (@ENV@)
After=network.target

[Service]
Type=simple
User=@USER@
Group=@USER@
WorkingDirectory=@APP@
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=@QWENV_COMMAND@
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
