[Unit]
Description=Ax3l reporting-server (@ENV@)
After=network.target mariadb.service

[Service]
Type=simple
User=@USER@
Group=@USER@
WorkingDirectory=@APP@
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1
EnvironmentFile=@CONFIG@/database.env
ExecStart=/usr/bin/python3 -m ax3l.server.ReportingServer --port @REPORT_PORT@
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
