[Unit]
Description=Ax3l reporting-server (@ENV@)
After=network.target mariadb.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=@APP@
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1
EnvironmentFile=@CONFIG@/database.env
ExecStart=@APP@/.venv/bin/python -m ax3l.server.ReportingServer --port @REPORT_PORT@
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
